fastapi
uvicorn
python-dotenv
langchain
langchain-community
langgraph
langchain-text-splitters
langchain-openai
pypdf
rapidocr-onnxruntime
pytesseract
pdfplumber
pdfminer.six
jq
beautifulsoup4
lxml
ipykernel