fastapi
uvicorn
python-dotenv
langchain
langchain-community
langgraph
langchain-text-splitters
langchain-experimental
langchain-openai
langchain_google
langchain-google-genai
langchain-ollama
pypdf
rapidocr-onnxruntime
pytesseract
pdfplumber
pdfminer.six
jq
beautifulsoup4
lxml
ipykernel
termcolor
langchain-chroma